@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-5 col-md-3">
        <!--Sidebar content-->
        <br />
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Invitations</a></li>
            <li role="presentation"><a href="/modules/index"><span class="glyphicon glyphicon-th"></span> Modules</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-star-empty"></span> Reviews</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-cog"></span> Integrations</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-align-left"></span> Statistics</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-comment"></span> Iformation</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-9">
        <!--Body content-->
        <br />
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)