
@{
    ViewBag.Title = "Index";
}

<div role="alert" class="alert alert-warning alert-dismissible fade in">
    <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <strong>Remember to configure the Automatic Feedback Service. ® </strong><br />The service is essential for collecting reviews from your customers.
</div>

<div class="row modules-menu">
    <!-- Left menu -->
    <div class="col-md-6">
        <h4>Automatic Feedback Service</h4>
        <br />

        <a href="#">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-refresh"></span>
                <strong>Automatic Feedback Service.®</strong><br /> Collect reviews from your customers by email.
            </div>
        </a>
        
        <a href="/modules/templateemail">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-pencil"></span>
                <strong>Template for feedback email</strong><br /> Customize the email  the AFS sends out to your customers
            </div>
        </a>
        
        <a href="/modules/templateemail">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-list"></span>
                <strong>Invitation History</strong><br /> Our advanced, NEW tool for tracking your invitations (formerly Feedback Service History)
            </div>
        </a>
        
        <a href="/modules/templateemail">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-envelope"></span>
                <strong>Invite your customers</strong><br /> Try out our new and improved interface for collecting reviews
            </div>
        </a>
        
        <a href="/modules/templateemail">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-qrcode"></span>
                <strong>Request that reviewers submit an order ID</strong><br /> Link an order ID to every review to make it easier for you to reply
            </div>
        </a>
    </div>
    
    <!-- Right menu -->
    <div class="col-md-6">
        <h4>For your website</h4>
        <br />
        
        <a href="#">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-certificate"></span>
                <strong>Category Badge</strong><br /> Show your customers that you're doing well in your category
            </div>
        </a>
        
        <a href="#">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-comment"></span>
                <strong>Trustpilot Badge</strong><br /> Let all your visitors know that you've got great reviews on Trustpilot
            </div>
        </a>
        
        <a href="#">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-inbox"></span>
                <strong>TrustBox 2.0</strong><br /> Design your own TrustBox and display your rating and selected reviews
            </div>
        </a>
        
        <a href="#">
            <div class="well well-lg">
                <span class="glyphicon glyphicon-cog"></span>
                <strong>Trustpilot Integrations</strong><br /> Create your own custom serverside Trustpilot integration
            </div>
        </a>
    </div>
</div>