
@{
    ViewBag.Title = "TemplateEmail";
}

<h2>Customize invitation email for AFS</h2>

<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Guidelines for the use of the Trustpilot service:</h3>
    </div>
    <div class="panel-body">
        Invitations are sent to encourage consumers to write reviews regardless of whether their purchasing experience was
        positive or negative. Invitations should not attempt to influence or persuade the consumer in any way.
        All invitations include a link to Trustpilot’s review form.
    </div>
</div>




<div class="panel panel-default">
    <div class="panel-body">
        You can use special placeholders in the email which will be replaced when we send the email:<br />
        <strong>[Name]</strong> The name of the customer or ”customer” if unknown<br />
        <strong>[Link]</strong> The one-click review link<br />
        <strong>[DomainName]</strong> The name of the domain<br />
        <strong>[Order]</strong> The order number<br />
        <strong>[UnsubscribeLink]</strong> The unsubscribe link.
    </div>
</div>
